<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
  {% for message in messages%}
 <h3>{{message}}</h3>
 {% endfor %}
    <div class="container">
        <div class="col-md-6">
        <div id="logbox">
          <form id="signup" method="POST" action="register">
            {% csrf_token %}
            <h1>create an account</h1>
            <input name="username" type="text" placeholder="What's your username?" pattern="^[\w]{3,16}$" autofocus="autofocus" required="required" class="input pass"/>
            <input name="password" type="password" placeholder="Choose a password" required="required" class="input pass"/>
            <input name="password2" type="password" placeholder="Confirm password" required="required" class="input pass"/>
            <input name="email" type="email" placeholder="Email address" class="input pass"/>
            <input type="submit" value="Sign me up!" class="inputButton"/>
          </form>
        </div>
       </div>
        <!--col-md-6-->
    
</body>
</html>